body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  
}


div.background-image {
  background-image: url("./media/vader.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
div.navbar {
  display: flex;
  justify-content: center;
  /*border: 1px black solid; working on centering a div*/
  /*height: 100vh;*/
}
.jedi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1{
  margin: 0;
  color: lightslategrey;
  font-size: xxx-large;
}
.projects-div{
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 10px;
  justify-content: space-around;
}
.nav-link:hover{
  margin-top: 2px;
  border-bottom: 2px solid white;
}

.ul > li{
  text-shadow: "4px 4px 6px #000000";
}
